<%- include('../partials/nav.ejs')%>

<div class="container text-center">
  <h1>Contact Us</h1>

  <h3>Toll Free Number:</h3>
  <p>#1-800-232-5464</p>

  <h3>For all business inquiries please reach out via email:</h3>
  <p>pixelverse@bestgames.com</p>
</div>
<%- include('../partials/footer')%>
